GM_addStyle(`
/* 
SVG 图标 使用 Ant Design 官方图标库
链接：https://www.iconfont.cn/collections/detail?spm=a313x.7781069.1998910419.d9df05512&cid=9402
SVG 转码方案来自 张鑫旭的工具 https://www.zhangxinxu.com/sp/svgo/
相关说明和作用详情  https://www.zhangxinxu.com/wordpress/2018/08/css-svg-background-image-base64-encode/ 
*/

.icon-share:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M752 664c-28.5 0-54.8 10-75.4 26.7L469.4 540.8c1.7-9.3 2.6-19 2.6-28.8s-.9-19.4-2.6-28.8l207.2-149.9C697.2 350 723.5 360 752 360c66.2 0 120-53.8 120-120s-53.8-120-120-120-120 53.8-120 120c0 11.6 1.6 22.7 4.7 33.3L439.9 415.8C410.7 377.1 364.3 352 312 352c-88.4 0-160 71.6-160 160s71.6 160 160 160c52.3 0 98.7-25.1 127.9-63.8l196.8 142.5c-3.1 10.6-4.7 21.8-4.7 33.3 0 66.2 53.8 120 120 120s120-53.8 120-120-53.8-120-120-120zm0-476c28.7 0 52 23.3 52 52s-23.3 52-52 52-52-23.3-52-52 23.3-52 52-52zM312 600c-48.5 0-88-39.5-88-88s39.5-88 88-88 88 39.5 88 88-39.5 88-88 88zm440 236c-28.7 0-52-23.3-52-52s23.3-52 52-52 52 23.3 52 52-23.3 52-52 52z'/%3E%3C/svg%3E");
}
.icon-close:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670c-1.2 1.5-1.9 3.3-1.9 5.2 0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z'/%3E%3Cpath d='M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z'/%3E%3C/svg%3E");
}
.icon-table:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 208H676V232h212v136zm0 224H676V432h212v160zM412 432h200v160H412V432zm200-64H412V232h200v136zm-476 64h212v160H136V432zm0-200h212v136H136V232zm0 424h212v136H136V656zm276 0h200v136H412V656zm476 136H676V656h212v136z'/%3E%3C/svg%3E");
}
.icon-save:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M893.3 293.3L730.7 130.7c-7.5-7.5-16.7-13-26.7-16V112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V338.5c0-17-6.7-33.2-18.7-45.2zM384 184h256v104H384V184zm456 656H184V184h136v136c0 17.7 14.3 32 32 32h320c17.7 0 32-14.3 32-32V205.8l136 136V840zM512 442c-79.5 0-144 64.5-144 144s64.5 144 144 144 144-64.5 144-144-64.5-144-144-144zm0 224c-44.2 0-80-35.8-80-80s35.8-80 80-80 80 35.8 80 80-35.8 80-80 80z'/%3E%3C/svg%3E");
}
.icon-caret-right:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z'/%3E%3C/svg%3E");
}
.icon-delete:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z'/%3E%3C/svg%3E");
}
.icon-add:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8zM176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z'/%3E%3C/svg%3E");
}
.icon-export:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M888.3 757.4h-53.8c-4.2 0-7.7 3.5-7.7 7.7v61.8H197.1V197.1h629.8v61.8c0 4.2 3.5 7.7 7.7 7.7h53.8c4.2 0 7.7-3.4 7.7-7.7V158.7c0-17-13.7-30.7-30.7-30.7H158.7c-17 0-30.7 13.7-30.7 30.7v706.6c0 17 13.7 30.7 30.7 30.7h706.6c17 0 30.7-13.7 30.7-30.7V765.1c0-4.3-3.5-7.7-7.7-7.7zm18.6-251.7L765 393.7c-5.3-4.2-13-.4-13 6.3v76H438c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112c4.1-3.2 4.1-9.4 0-12.6z'/%3E%3C/svg%3E");
}
.icon-import:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M888.3 757.4h-53.8c-4.2 0-7.7 3.5-7.7 7.7v61.8H197.1V197.1h629.8v61.8c0 4.2 3.5 7.7 7.7 7.7h53.8c4.2 0 7.7-3.4 7.7-7.7V158.7c0-17-13.7-30.7-30.7-30.7H158.7c-17 0-30.7 13.7-30.7 30.7v706.6c0 17 13.7 30.7 30.7 30.7h706.6c17 0 30.7-13.7 30.7-30.7V765.1c0-4.3-3.5-7.7-7.7-7.7zM902 476H588v-76c0-6.7-7.8-10.5-13-6.3l-141.9 112c-4.1 3.2-4.1 9.4 0 12.6l141.9 112c5.3 4.2 13 .4 13-6.3v-76h314c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z'/%3E%3C/svg%3E");
}
.icon-smile:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M288 421a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm352 0a48 48 0 1 0 96 0 48 48 0 1 0-96 0zM512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm263 711c-34.2 34.2-74 61-118.3 79.8C611 874.2 562.3 884 512 884c-50.3 0-99-9.8-144.8-29.2-44.3-18.7-84.1-45.6-118.3-79.8-34.2-34.2-61-74-79.8-118.3C149.8 611 140 562.3 140 512s9.8-99 29.2-144.8c18.7-44.3 45.6-84.1 79.8-118.3 34.2-34.2 74-61 118.3-79.8C413 149.8 461.7 140 512 140c50.3 0 99 9.8 144.8 29.2 44.3 18.7 84.1 45.6 118.3 79.8 34.2 34.2 61 74 79.8 118.3C874.2 413 884 461.7 884 512s-9.8 99-29.2 144.8c-18.7 44.3-45.6 84.1-79.8 118.2zM664 533h-48.1c-4.2 0-7.8 3.2-8.1 7.4C604 589.9 562.5 629 512 629s-92.1-39.1-95.8-88.6c-.3-4.2-3.9-7.4-8.1-7.4H360c-4.6 0-8.2 3.8-8 8.4 4.4 84.3 74.5 151.6 160 151.6s155.6-67.3 160-151.6c.2-4.6-3.4-8.4-8-8.4z'/%3E%3C/svg%3E");
}
.icon-frown:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M288 421a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm352 0a48 48 0 1 0 96 0 48 48 0 1 0-96 0zM512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm263 711c-34.2 34.2-74 61-118.3 79.8C611 874.2 562.3 884 512 884c-50.3 0-99-9.8-144.8-29.2-44.3-18.7-84.1-45.6-118.3-79.8-34.2-34.2-61-74-79.8-118.3C149.8 611 140 562.3 140 512s9.8-99 29.2-144.8c18.7-44.3 45.6-84.1 79.8-118.3 34.2-34.2 74-61 118.3-79.8C413 149.8 461.7 140 512 140c50.3 0 99 9.8 144.8 29.2 44.3 18.7 84.1 45.6 118.3 79.8 34.2 34.2 61 74 79.8 118.3C874.2 413 884 461.7 884 512s-9.8 99-29.2 144.8c-18.7 44.3-45.6 84.1-79.8 118.2zM512 533c-85.5 0-155.6 67.3-160 151.6-.2 4.6 3.4 8.4 8 8.4h48.1c4.2 0 7.8-3.2 8.1-7.4C420 636.1 461.5 597 512 597s92.1 39.1 95.8 88.6c.3 4.2 3.9 7.4 8.1 7.4H664c4.6 0 8.2-3.8 8-8.4-4.4-84.3-74.5-151.6-160-151.6z'/%3E%3C/svg%3E");
}
.icon-warning:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z'/%3E%3Cpath d='M464 688a48 48 0 1 0 96 0 48 48 0 1 0-96 0zM488 576h48c4.4 0 8-3.6 8-8V296c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8z'/%3E%3C/svg%3E");
}
.icon-error:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M464 720a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm16-304v184c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V416c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8zm475.7 440l-416-720c-6.2-10.7-16.9-16-27.7-16s-21.6 5.3-27.7 16l-416 720C56 877.4 71.4 904 96 904h832c24.6 0 40-26.6 27.7-48zm-783.5-27.9L512 239.9l339.8 588.2H172.2z'/%3E%3C/svg%3E");
}
.icon-swap:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M847.9 592H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h605.2L612.9 851c-4.1 5.2-.4 13 6.3 13h72.5c4.9 0 9.5-2.2 12.6-6.1l168.8-214.1c16.5-21 1.6-51.8-25.2-51.8zM872 356H266.8l144.3-183c4.1-5.2.4-13-6.3-13h-72.5c-4.9 0-9.5 2.2-12.6 6.1L150.9 380.2c-16.5 21-1.6 51.8 25.1 51.8h696c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z'/%3E%3C/svg%3E");
}
.icon-doubleleft:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M272.9 512l265.4-339.1c4.1-5.2.4-12.9-6.3-12.9h-77.3c-4.9 0-9.6 2.3-12.6 6.1L186.8 492.3c-9.1 11.6-9.1 27.9 0 39.5l255.3 326.1c3 3.9 7.7 6.1 12.6 6.1H532c6.7 0 10.4-7.7 6.3-12.9L272.9 512zm304 0l265.4-339.1c4.1-5.2.4-12.9-6.3-12.9h-77.3c-4.9 0-9.6 2.3-12.6 6.1L490.8 492.3c-9.1 11.6-9.1 27.9 0 39.5l255.3 326.1c3 3.9 7.7 6.1 12.6 6.1H836c6.7 0 10.4-7.7 6.3-12.9L576.9 512z'/%3E%3C/svg%3E");
}
.icon-doubleright:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M533.2 492.3L277.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H188c-6.7 0-10.4 7.7-6.3 12.9L447.1 512 181.7 851.1c-4.1 5.2-.4 12.9 6.3 12.9h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5zm304 0L581.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H492c-6.7 0-10.4 7.7-6.3 12.9L751.1 512 485.7 851.1c-4.1 5.2-.4 12.9 6.3 12.9h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5z'/%3E%3C/svg%3E");
}
.icon-edit:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9c3.9-3.9 3.9-10.2 0-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2c-1.9 11.1 1.5 21.9 9.4 29.8 6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z'/%3E%3C/svg%3E");
}
.icon-sync:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M168 504.2c1-43.7 10-86.1 26.9-126 17.3-41 42.1-77.7 73.7-109.4S337 212.3 378 195c42.4-17.9 87.4-27 133.9-27s91.5 9.1 133.8 27c40.9 17.3 77.7 42.1 109.3 73.8 9.9 9.9 19.2 20.4 27.8 31.4l-60.2 47c-5.3 4.1-3.5 12.5 3 14.1l175.7 43c5 1.2 9.9-2.6 9.9-7.7l.8-180.9c0-6.7-7.7-10.5-12.9-6.3l-56.4 44.1C765.8 155.1 646.2 92 511.8 92 282.7 92 96.3 275.6 92 503.8c-.1 4.5 3.5 8.2 8 8.2h60c4.4 0 7.9-3.5 8-7.8zm756 7.8h-60c-4.4 0-7.9 3.5-8 7.8-1 43.7-10 86.1-26.9 126-17.3 41-42.1 77.8-73.7 109.4S687 811.7 646 829c-42.4 17.9-87.4 27-133.9 27s-91.5-9.1-133.9-27c-40.9-17.3-77.7-42.1-109.3-73.8-9.9-9.9-19.2-20.4-27.8-31.4l60.2-47c5.3-4.1 3.5-12.5-3-14.1l-175.7-43c-5-1.2-9.9 2.6-9.9 7.7l-.7 181c0 6.7 7.7 10.5 12.9 6.3l56.4-44.1C258.2 868.9 377.8 932 512.2 932c229.2 0 415.5-183.7 419.8-411.8.1-4.5-3.5-8.2-8-8.2z'/%3E%3C/svg%3E");
}
.icon-code:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M438.4 849.1l222.7-646.7c.2-.5.3-1.1.4-1.6L438.4 849.1zm222.8-680.4h-67.5c-3.4 0-6.5 2.2-7.6 5.4L354.7 846c-.3.8-.4 1.7-.4 2.6 0 4.4 3.6 8 8 8h67.8c3.4 0 6.5-2.2 7.6-5.4l.7-2.1 223.1-648.3 7.4-21.4c.3-.8.4-1.7.4-2.6-.1-4.5-3.6-8.1-8.1-8.1zm293.4 333.4c-.8-1-1.7-1.9-2.7-2.7l-219-171.3c-3.5-2.7-8.5-2.1-11.2 1.4-1.1 1.4-1.7 3.1-1.7 4.9v81.3c0 2.5 1.1 4.8 3.1 6.3l115 90-115 90c-1.9 1.5-3.1 3.8-3.1 6.3v81.3c0 4.4 3.6 8 8 8 1.8 0 3.5-.6 4.9-1.7l219-171.3c6.9-5.4 8.2-15.5 2.7-22.5zm-663.5-174l-219 171.3c-1 .8-1.9 1.7-2.7 2.7-5.4 7-4.2 17 2.7 22.5l219 171.3c1.4 1.1 3.1 1.7 4.9 1.7 4.4 0 8-3.6 8-8v-81.3c0-2.5-1.1-4.8-3.1-6.3l-115-90 115-90c1.9-1.5 3.1-3.8 3.1-6.3v-81.3c0-1.8-.6-3.5-1.7-4.9-2.7-3.5-7.7-4.1-11.2-1.4z'/%3E%3C/svg%3E");
}
.icon-success:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8c12.7 17.7 39 17.7 51.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z'/%3E%3Cpath d='M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z'/%3E%3C/svg%3E");
}
.icon-fail:before {
    width: 1em; display: inline-block;
    content: url("data:image/svg+xml,%3Csvg class='icon' style='width:1em;height:1em;vertical-align:middle' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' fill='currentColor' overflow='hidden'%3E%3Cpath d='M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670c-1.2 1.5-1.9 3.3-1.9 5.2 0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z'/%3E%3Cpath d='M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z'/%3E%3C/svg%3E");
}

/* 滚动条 */
::-webkit-scrollbar { width: 8px; height: 8px;} /*滚动条宽度*/
::-webkit-scrollbar-track { border-radius: 5px; background-color: #ddd; } /*定义滚动条轨道 背景色+圆角*/
::-webkit-scrollbar-thumb { border-radius: 5px; background-color: #555; } /*定义滑块 背景色+圆角*/

.iconButton{
    font-size: 1.2em;
    margin: 1px 5px;
    padding: 1px 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.textButton{
    margin: 1px 5px;
    padding: 1px 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-style: normal;
}
.textButton:hover,.iconButton:hover{
    box-shadow: 0 0 2px 2px deepskyblue;
    cursor: pointer;
}
.innerToolbar{
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 5px 0px #999;
    margin-bottom: 5px;
}
.column2{ width: 200%; }
.innerToolbar input{ flex-shrink: 1; }
input:checked + label{background: lightskyblue;}
li{list-style:none;}
button{border-radius:3px;border:1px solid gray; padding: 3px 5px;background:#fff;box-shadow: 1px 1px 1px 1px skyblue;cursor:pointer;}
button:hover{background:deepskyblue;color:#fff;}
fieldset{border-radius: 5px;}
label:hover{background:#00BFFF80;}
/* INPUT */
input[type='radio'],input[type='checkbox']{display: none;}
input[type='date'],input[type='text']{margin: 5px 10px; font-size: 1em; border-radius: 3px; border: 1px solid #aaa; font-family: "微软雅黑";}
.inputTiny{width: 2em;}
.inputShort{width: 6em;}
.inputMedium{width: 10em;}
.inputLong{width: 20em;}


/*  common CSS  */
body{
    display: grid;
    grid-template-rows: 2em auto;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    color: #2a3a40;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: deepskyblue;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    overflow: hidden;
}
nav>span{
    padding: 0.25em 0.5em;
    background: #1a2a3a;
    color: white;
    font-weight: bolder;
    margin: 0 0.5em;
    cursor:pointer;
    border-radius: 5px;
}
nav>span:hover{color:cyan;}
#main{
    overflow-y: auto;
    position:absolute;
    top: 2em;
    grid-template-rows: repeat(4,100%);

}
.hide{display:none !important;}
.show{display: block !important;}

#comparePriceProject,
#showPriceTable,
#productInfo,
#manageData{
    position: fixed;
    height:100%;
    width: 100%;
}
#followPrice{
    position: relative;
}

/* comparePriceProject  CSS */
#comparePriceProject{
    display: grid;
    grid-template-rows: 2em auto;
    grid-template-columns: 50% 50%;
}

#comparePriceProject li{list-style:none;font-size:0.7em;border-radius: 3px; margin: 2px;cursor: move;}
li:hover{background:lightskyblue;}
fieldset{ border-radius: 5px; border: 1px solid #33333360; padding: 5px; margin: 5px; min-height: 30px; }
#comparePriceProject div[name='compareProductsPackages'],
#comparePriceProject div[name='comparePackagesGroups'] { top:70px; position:fixed; width:49%; height: 89%; overflow-y: scroll; }
#comparePriceProject div[name='compareProductsPackages']{left:10;}
#comparePriceProject div[name='comparePackagesGroups']{right:0;}

/* #showPriceTable CSS */
#priceTable{overflow: auto;}

/*  productInfo CSS  */
#productInfoDetail iframe{resize:vertical;}

/*  priceTable CSS */ 
a{text-decoration: none; margin: 2px 4px; padding: 2px; border-radius: 3px; background: yellowgreen;}
a:hover{background: yellow}
table tr td.o{background-color: #D3DB60;}
table tr:first-of-type td.o{ background-color: #f33; }
td{ white-space: nowrap; max-width: 150px; overflow: hidden;}
table *{font-size: 0.8em;}

/* .hiCheap{} */
.hiExpensive{ background-color: #f33; }
.enemyCheap{background-color: #D3DB60;}
#cmpProductsUl fieldset label{display: inline-block;width: 430px;}
#cmpProductsUl .collapseFieldset a{display: none;}
#cmpProductsUl .expandFieldset a{display: inline;}

/*  manageData CSS */ 
#cmpProjectsUl li:hover,
#manageData li:hover{background:#f0f8ff !important;}
#cmpProjectsUl span:hover,
#manageData span:hover{background:lightskyblue !important;}
#cmpProjectsUl label:hover,
#manageData label:hover{background:#f0f8ff !important; }
#manageDataCMP{left:0;width:95%;display: inline-flex; flex-flow: column nowrap;height: 96%; overflow: hidden;}
/* #cmpProductsUl li, */
#manageDataCMP li{display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center; border-bottom: 1px dashed #ddd;}
#cmpProjectsUl label,
#manageDataCMP label{width: 95%; display: flex; justify-content: flex-end; align-items: center;}
#cmpProjectsUl label span,
#manageDataCMP label span{flex: auto; flex-shrink: 5; align-self: flex-start;font-size: 0.9em; margin-top: 3px;}
#addProjectJson{border-radius: 5px; width: 95%;display: block; margin-bottom: 5px;}
#cmpProjectsUl,
#manageDataCMPList{padding: 0; margin:0; height: 93%; overflow-y: scroll;}

/*  cmpProductsUl CSS */ 
#left {
    padding: 0;height: 95%; overflow: hidden;
    position: fixed; width: 600px; z-index: 999999!important; 
    background:white; font-size:0.9em; box-shadow: 5px 0px 5px 0px #bbb;
}
.leftHide{
    left:-605px;
    margin-right: 50px;
}

#leftControl{
    position: fixed;
    left: 570px;
    font-size: 2em;
    border-left: 1px dashed #bbb;
    cursor: pointer;
}
#leftControl:hover{background: lightskyblue;}
.leftHide #leftControl{
    left: 0px;
}


#cmpProjectsUl li{display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; border-bottom: 1px dashed #ddd;}
span[name='pnsLink']{margin: 5px 0;}
.expandLi{padding-bottom: 0; margin: 0; height: auto;}
.collapseLi{padding-bottom: 0; margin: 0; height: 1.7em; overflow: hidden;}

/*  #comparePriceProject CSS */ 
li[data-background='#CF6'] {background: #CF6;}
li[data-background='#6CC'] {background: #6CC;}
li[data-background='#F9C'] {background: #F9C;}
li[data-background='#FC9'] {background: #FC9;}
li[data-background='#9C6'] {background: #9C6;}
li[data-background='#F99'] {background: #F99;}
li[data-background='#669'] {background: #ccf;}
li[data-background='#FC0'] {background: #FC0;}
li[data-background='#F60'] {background: #F60;}
li[data-background='#CC3'] {background: #CC3;}

/* li[data-background='#CC3'] {background: #32ff7e;}
li[data-background='#CC3'] {background: #18dcff;}
li[data-background='#CC3'] {background: #7d5fff;}
li[data-background='#CC3'] {background: #ffaf40;}
li[data-background='#CC3'] {background: #ffcccc;}
li[data-background='#CC3'] {background: #cd84f1;}
li[data-background='#CC3'] {background: #fffa65;}
li[data-background='#CC3'] {background: #ccff66;} */

/* #followPrice CSS  */
#dataBlock{
    display: grid;
    grid-template-columns: 3.5em auto;
    position: relative;
}

#tar,#spuName {
    display: grid;
    grid-template-rows: repeat(8, 3em);
    grid-gap: 2px;
    padding-top: 2px;
    position: relative;
    font-size: 0.9em;
    font-style: normal;
    color: #34495e;
    background: #ddd;
}

.priceContainer{
    display: grid;
    grid-template-rows: 3.5em;
    grid-template-columns: repeat(90, 3.5em);
    grid-auto-columns: 3.5em;
    grid-gap: 2px;
    place-items: center;
    place-content: center;
}

.bagaPrice input:checked + label{
    background: #ffea00 !important;
}
#tar b, #tar label, #tar span:before, #tar input[type='text'], #spuName b{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3.5em;
    height: 3em;
    background: white;
    border:0;
}

#tar div[name="hiPrice"] input[data-cheap="cheap"]{background: #DDFDBD;}
#tar div[name="hiPrice"] input[data-cheap="expensive"]{background: #FFC7CE; color: #BE0006;}
#tar div[name="bagaPrice"] input[data-cheap="cheap"]+label{background: #FFE699;}
/* #tar div[name="bagaPrice"] input[data-cheap="expensive"]+label{background: #FFE699;} */

.success{background: #67C23A; color: white;}
.fail{background: #F56C6C; color: white;}
#tar input[data-change='1']{background: #ffc107 !important;}
span[data-weekday]:before{float: left;background: #ffffff;}
span[data-weekday='0']:before{content:'日';}
span[data-weekday='1']:before{content:'一';}
span[data-weekday='2']:before{content:'二';}
span[data-weekday='3']:before{content:'三';}
span[data-weekday='4']:before{content:'四';}
span[data-weekday='5']:before{content:'五';background: #dfe4ea !important;}
span[data-weekday='6']:before{content:'六';background: #ced6e0 !important;}


#opt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    position: fixed;
    bottom: 10px;
}
.optField{
    display: grid;
    grid-template-rows: repeat(5, 4em);
    background: #ecf0f1;
}
.optField button{
    margin: 5px 0px;
}
#opt input[type="checkbox"],#opt input[type="checkbox"]{display: inline-block;}

`);